<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moslemdev.kuypuasa">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_logo_kuypuasa"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_logo_kuypuasa"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme">
        <activity android:name=".PuasaHaramDeskripsi"></activity>
        <activity android:name=".PuasaRamadhanDeskripsi" />
        <activity
            android:name=".PopUpPuasaHaram"
            android:theme="@style/AppTheme.PopUpPuasa" />
        <activity
            android:name=".PopUpPuasaMakruh"
            android:theme="@style/AppTheme.PopUpPuasa" />
        <activity
            android:name=".PopUpPuasaWajib"
            android:theme="@style/AppTheme.PopUpPuasa" />
        <activity
            android:name=".PopUpPuasaSunnah"
            android:theme="@style/AppTheme.PopUpPuasa" />
        <activity android:name=".PuasaAsyuraTasuaDeskripsi" />
        <activity android:name=".PuasaArafahDeskripsi" />
        <activity android:name=".PuasaAyyamulBidhDeskripsi" />
        <activity android:name=".PuasaSeninKamisDeskripsi" />
        <activity
            android:name=".EditProfil"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".IsiDataDiri"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LandingPage"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".ClickCalendar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Animation"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>